<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="renderer" content="webkit" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="cache-control" content="max-age=0" />
    <meta http-equiv="cache-control" content="no-cache" />
    <meta http-equiv="expires" content="0" />
    <meta http-equiv="expires" content="Tue, 01 Jan 1980 1:00:00 GMT" />
    <meta http-equiv="pragma" content="no-cache" />
    <stl:include file="/include/openzui.html"></stl:include>
    <stl:include file="/include/swiper.html"></stl:include>
</head>


<body>
  <stl:include file="/include/head.html"></stl:include>

  <ol class="breadcrumb">
    <li><a href="{Stl.SiteUrl}/">首页</a></li>
    <li class="active">{Channel.Title}</li>
  </ol>

  
<div class="row">
  <div class="col-xs-8">
      <div class="container">
          <div class="items">
            <stl:pageContents pageNum="10" order="lastEditDate">
              <div class="item">
                <div class="item-heading">
                    <div class="pull-right">
                            <span class="text-muted">
                                <stl:content type="LastModifiedDate" formatstring="yyyy-MM-dd HH:mm:ss"></stl:content>
                            </span> &nbsp; <a href="javascript:;" class="text-muted"><i class="icon icon-hand-up"></i><stl:content type="Hits"></stl:content></a>
                    </div>
                    <h4><stl:a title="{Content.Title}" target="_blank"><stl:content type="Title"></stl:content></stl:a></h4>
                </div>
                <div class="item-content">
                    <stl:content type="Summary"></stl:content>
                </div>
              </div>
            </stl:pageContents>
          </div>
          <footer>
              <ul class="pager">
                <stl:pageItem type="PreviousPage">
                    <stl:yes>
                        <li class="previous"><a href="{Current.Url}" >上一页</a></li>
                    </stl:yes>
                    <stl:no>
                        <li><a disabled href="javascript:;" style="color: black;" class="btn disabled">« 上一页</a></li>
                    </stl:no>
                </stl:pageItem>
                    
                <stl:pageItem type="PageNavigation" listNum="5">
                    <stl:yes>
                        <li><a href="{Current.Url}">{Current.Num}</a></li>
                    </stl:yes>
                    <stl:no>
                        <li class="active"><span>{Current.Num}</span></li>
                    </stl:no>
                </stl:pageItem>
                
                <stl:pageItem type="NextPage">
                    <stl:yes>
                    <li class="next"><a href="{Current.Url}">下一页 »</a></li>
                    </stl:yes>
                    <stl:no>
                    <li><a disabled href="javascript:;" style="color: black;" class="btn disabled">下一页 »</a></li>
                    </stl:no>
                </stl:pageItem>
              </ul>
          </footer>
      </div>
  </div>
  <div class="col-xs-4">
      <div class="container">
          <div class="department" style="margin-bottom: 1rem;">
              <div class="detitle">
                  <span>栏目导航</span>
              </div>
              <div class="container news">
                  <ul>
                      ......即将上线
                      <!-- <li>
                          <a href="Article">
                              HTML5
                          </a>
                          <p>[09-14]</p>
                      </li>
                      <li>
                          <a href="#">国务院安委会对两起重大道路交通事故查处挂牌督办</a>
                          <p>[09-14]</p>
                      </li>
                      <li>
                          <a href="#">最高检：公益诉讼全面开展4年提起诉讼近2万件</a>
                          <p>[09-14]</p>
                      </li>
                      <li>
                          <a href="#">5年收案逾2000万件 中国发文夯实法庭之“基”</a>
                          <p>[09-14]</p>
                      </li>
                      <li>
                          <a href="#">中国代表一组国家在联合国人权理事会指出美国严重人权问题</a>
                          <p>[09-14]</p>
                      </li>
                      <li>
                          <a href="#">教育部：从严从紧做好中秋国庆假期和秋季学期疫情防控工作</a>
                          <p>[09-14]</p>
                      </li> -->
                  </ul>
              </div>
          </div>
          <div class="department" style="margin-bottom: 1rem;">
              <div class="detitle">
                  <span>热点新闻</span>
              </div>
              <div class="container news">
                  <ul>
                    ......即将上线
                      <!-- <li>
                          <a href="Article">
                              HTML5
                          </a>
                          <p>[09-14]</p>
                      </li>
                      <li>
                          <a href="#">国务院安委会对两起重大道路交通事故查处挂牌督办</a>
                          <p>[09-14]</p>
                      </li>
                      <li>
                          <a href="#">最高检：公益诉讼全面开展4年提起诉讼近2万件</a>
                          <p>[09-14]</p>
                      </li>
                      <li>
                          <a href="#">5年收案逾2000万件 中国发文夯实法庭之“基”</a>
                          <p>[09-14]</p>
                      </li>
                      <li>
                          <a href="#">中国代表一组国家在联合国人权理事会指出美国严重人权问题</a>
                          <p>[09-14]</p>
                      </li>
                      <li>
                          <a href="#">教育部：从严从紧做好中秋国庆假期和秋季学期疫情防控工作</a>
                          <p>[09-14]</p>
                      </li> -->
                  </ul>
              </div>
          </div>
          <div class="department" style="margin-bottom: 1rem;">
              <div class="detitle">
                  <span>最新推荐</span>
              </div>
              <div class="container news">
                  <ul>
                    ......即将上线
                      <!-- <li>
                          <a href="Article">
                              HTML5
                          </a>
                          <p>[09-14]</p>
                      </li>
                      <li>
                          <a href="#">国务院安委会对两起重大道路交通事故查处挂牌督办</a>
                          <p>[09-14]</p>
                      </li>
                      <li>
                          <a href="#">最高检：公益诉讼全面开展4年提起诉讼近2万件</a>
                          <p>[09-14]</p>
                      </li>
                      <li>
                          <a href="#">5年收案逾2000万件 中国发文夯实法庭之“基”</a>
                          <p>[09-14]</p>
                      </li>
                      <li>
                          <a href="#">中国代表一组国家在联合国人权理事会指出美国严重人权问题</a>
                          <p>[09-14]</p>
                      </li>
                      <li>
                          <a href="#">教育部：从严从紧做好中秋国庆假期和秋季学期疫情防控工作</a>
                          <p>[09-14]</p>
                      </li> -->
                  </ul>
              </div>
          </div>
      </div>
  </div>
</div>

  
  <stl:include file="/include/foot.html"></stl:include>
</body>

</html>